body{
    font-family: Arial;
}

.todo-Grid,
.todo-input-grid
{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom : 10px;
    align-items: stretch;
}
.input-style{
    font-size: 15px;
    padding: 5px ;
}
.add-button{
    font-size: 15px;
    border: none;
    background-color: green;
    padding: 6px 2px;
    color: white;
    cursor: pointer;
}
.delete-button{
    border: none;
    background-color: rgb(163, 6, 6);
    padding: 6px;
    cursor: pointer;
    color: white;
    
}